* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0px;
}

img {
    width: 100px;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    border: 1px solid black;
}

.header-nav {
    list-style-type: none;

}

.header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    border: 1px solid black;
    text-align: center;
}


.nav-item {
    display: inline-block;
    margin: 0px 50px;
}

#nav-button {
    padding: 10px 25px;
    border-radius: 60px;
    background-color: dimgrey;
    color: white;
    border: 1px solid dimgrey;
}

#nav-button:hover {
    background-color: rgba(105, 105, 105, 0.74);
    transition: 1000ms;
}

/*HERO*/

.hero {
    background-image: url("./images/hero.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    height: 60vh;
    padding: 100PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 3rem;
}

.hero p {
    color: white;
    font-size: 1.3rem;
}


/*INTRODUCTION*/

.introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px 50px;
    gap: 150px;
}

.introduction-img {
    width: 100%;

}



/*FEATURES*/

.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 50px;
    gap: 150px;
}

.feature {
    margin-bottom: 35px;
}

.featuer-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.features-text-box h2 {
    margin: 0;
}

.features-text-box, h2 p {
    text-align: right;
}

/*IMAGE-BOX*/

.image-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: 80px 0px;
}

.image-box-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*CONTACT FORM*/

.contact-container {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.center {
    width: 70%;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.input-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 5px;
}

.input-row input {
    width: 48%; /* 50% leveydestä, jotta saadaan 2% väli inputtien välille */

}


input[type="text"], input[type="tel"], input[type="email"], textarea {
    width: calc(100% - 20px); /* Vähennä 20px marginaalista lomakkeen reunoihin */
    margin-bottom: 3px; /* Lisää 10px väli jokaisen inputin ja tekstikentän jälkeen */
    padding: 5px;
}


/*FOOTER*/

.footer-box {
    display: flex;
    justify-content: space-between;
    margin: 45px;
}

div > ul > li {
    list-style-type: none;
    margin-left: -38px;
}

.nav > ul > li {
    list-style-type: none;
    margin-left: -38px;
}

a {
    color: rgb(32, 32, 32);
}